<div class="alert alert-primary alert-dismissible fade show" role="alert">
  <%= notice %>
  <button type="button" class="close" data-bs-dismiss="alert" arial-label="Close">
    <span aria-hidden="true">&times;</span> 
  </button>
</div>